@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin:0;
  padding: 0;
  outline: 0;
}
.nav-bar-fixed{
    position: fixed;
    z-index: 10;
    top:0px;
    background: linear-gradient(to bottom, #65bdec, #478bf7);
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-nav{
    display: contents;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.home-nav h1{
    font-family: 'Ubuntu', sans-serif;
}

/* <------ footer css -----> */

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}
.content{
    display:flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
.heading{
    margin-bottom: 40px;
    padding-left: 150px;
}
.heading h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content div{
    padding-left:5%;
    padding-right: 5%;
}
a{
    text-decoration: none;
    color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 15px;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 15px;
}