@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.home-nav-top{
    background: linear-gradient(to bottom, #65bdec, #478bf7);
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-nav{
    display: contents;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

#nav-1{
    margin-top: 50px;
    margin: 50px 0px;
    background-color: #212429;
    padding: 15px 50px;
    border-radius: 10px;
    display: flex;
}
#nav-1 .nav-item{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 20px;
    display: flex;
}
#nav-1 .nav-item:hover{
    color: rgb(0, 255, 170);
}

/* <------ nav 2 --------> */

#nav-2 {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    display: block;
}
#nav-2 ul{
    display: flex;
    flex-direction: row;
}

#nav-2 li {
    display:block;
    position:relative;
    background-color: #595b59;
    height: 50px;
}
#nav-2 li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:100px;
    line-height:50px; 
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

#nav-2 ul li:hover {
    background:#f9be82;
} 
#nav-2 ul li ul{
    display: none;
}

#nav-2 ul li:hover ul{
    display: block;
    flex-direction: column;
    font-size:80%;
}